body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: verdana;
    background-image: url("./background.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    width: 100%;
    text-align:center;
    margin-top: 95px;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}

#nombres {
    display: flex;
    align-items: center;
    justify-content: center;
}
    #nombres h2 {
        color: white;
        margin-left: 17px;
        margin-right: 17px;
    }

#btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
    #btns button {
        padding: 15px;
        border: none;
        color: white;
        background-color: #0EA6E8;
        border-radius: 10px;
        font-size: 25px;
        margin-top: 20px;
        cursor: pointer;
        width: 600px;
    }
        #btns button:hover {
            padding: 17px;
            border: 1px solid white;
            margin-top: 18px;
        }