<html>
<head>
    <link rel="stylesheet" href="../static/dispositivosPeligrosos.css"/>
</head>

<body>
    <div id="btns">
        <button onclick="location.href='./index.html'">Inicio</button>
        <button onclick="location.href='./ipProblematica.html'">IPs de origen m&aacute;s problem&aacute;ticas</button>
        <button onclick="location.href='./dispositivosVulnerables.html'">Dispositivos m&aacute;s vulnerables</button>
        <button onclick="location.href='./10vulnerabilidades.html'">&Uacute;ltimas 10 vulnerabilidades en tiempo real</button>
    </div>
    <h1>Dispositivos m&aacute;s peligrosos</h1>
    <form action="" method="POST" id="busqueda">
        <label>Mayor al 33%</label>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
        <label>Menor al 33%</label>
        <button type="submit">Aplicar</button>
    </form>
	{% if graphDispPeligrosos %}
		<div id='chart' class='chart'?></div>
		<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
		<script type='text/javascript'>
		  var graphs = {{graphDispPeligrosos | safe}};
		  Plotly.plot('chart',graphs,{});
		</script>
	{% endif %}
</body>

</html>