<html>
<head>
    <link rel="stylesheet" href="../static/index.css"/>
</head>

<body>
    <h1>P&aacute;gina principal</h1>
    <div id="btns">
        <button onclick="location.href='./ipProblematica.html'">IPs de origen m&aacute;s problem&aacute;ticas</button>
        <button onclick="location.href='./dispositivosVulnerables.html'">Dispositivos m&aacute;s vulnerables</button>
        <button onclick="location.href='./10vulnerabilidades.html'">&Uacute;ltimas 10 vulnerabilidades en tiempo real</button>
    </div>
</body>

</html>