<html>
<head>
    <link rel="stylesheet" href="../static/general.css"/>
    <link rel="stylesheet" href="../static/index.css"/>
</head>

<body>
    <button id="logout" onclick="location.href='./logout.html'">Cerrar Sesi&oacute;n</button>
    <h1>Pr&aacute;ctica 2 - CMI</h1>
    <div id="nombres">
        <h2>Sergio Vegue Gonz&aacute;lez</h2>
        <h2>Santiago Oca&ntilde;a Barrera</h2>
        <h2>Sergio Ayuso Hernández</h2>
    </div>
    <div id="btns">
        <div id="btns1">
            <button onclick="location.href='./ipProblematica.html'">IPs de origen m&aacute;s problem&aacute;ticas</button>
            <button onclick="location.href='./dispositivosVulnerables.html'">Dispositivos m&aacute;s vulnerables</button>
            <button onclick="location.href='./dispositivosPeligrosos.html'">Dispositivos m&aacute;s peligrosos</button>
            <button onclick="location.href='./10vulnerabilidades.html'">&Uacute;ltimas 10 vulnerabilidades en tiempo real</button>
			<button onclick="location.href='./ipDiarias.html'">N&uacute;mero de IPs al d&iacute;a</button>
        </div>
        <div id="btns2">
            <button onclick="location.href='./regresionLineal.html'">Regresi&oacute;n lineal</button>
            <button onclick="location.href='./arbolDecision.html'">Árbol de decisión</button>
            <button onclick="location.href='./randomForest.html'">Random forest</button>
        </div>
    </div>
</body>

</html>