<html>
<head>
    <link rel="stylesheet" href="../static/regresionLineal.css"/>
</head>

<body>
    <div id="btns">
        <button onclick="location.href='./index.html'">Inicio</button>
        <button onclick="location.href='./ipProblematica.html'">IPs de origen más problemáticas</button>
        <button onclick="location.href='./dispositivosPeligrosos.html'">Dispositivos más peligrosos</button>
        <button onclick="location.href='./10vulnerabilidades.html'">Últimas 10 vulnerabilidades en tiempo real</button>
    </div>
    <h1>Random Forest</h1>
    <div style="text-align: center">
        {% if graphRandomForest %}
        <div id='chart' class='chart'><img src="{{ url_for('static', filename='random_forest_plot.png') }}" alt="Random Forest"></div>
        {% endif %}
    </div>
</body>
</html>
